<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500</title>

      <!-- Favicons -->
  <link href="/assets/img/fm_2.png" rel="icon">
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/style2.css" rel="stylesheet">
  </head>
  <body class="mainbox">
    <div style="margin-top: 100px; display: block; text-align: center;" 
      class='mr-6 col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4'>
        <img alt='#' width="300" height="300" src='assets/img/internalserver500.jpeg' />
      </div>

      <div class='msg'>
        <h1 style="font-size: 60px;">500</h1>
        <h3>Internal server error
          <br>
          Something went wrong with our servers, please try again later.
        </h3>
        <h4><%= exception %></h4>
        <div>
          <a href="/hm" type='primary' class='anchor btn btn-primary'>Go to Home</a>
        </div>
      </div>
  </body>
</html>